<div class="tib-bg-light">
  <!-- filter -->
  <div class="md:ps-8 md:pe-8 ps-4 pe-4 pt-4 pb-4 flex justify-between">
    <!-- List management -->
    <div class="flex md:flex-row flex-col gap-3">
      <!-- select all checkbox -->
      <div class="flex items-center">
        <label nz-checkbox>Select all</label>
      </div>

      <div class="flex items-center">
        <span class="font-semibold me-3">With selection</span>
        <nz-select [ngModel]="'Home'" class="w-52" nzSize="large" >
          <nz-option [nzLabel]="'Delete'" [nzValue]="'delete'"></nz-option>
        </nz-select>
      </div>
    </div>

    <!-- New annotation button -->
    <button
      nz-button
      class="flex h-9 items-center rounded-md tib-bg-primary text-white hover:bg-red-900 hover:text-white hover:border-red-900"
    >
      <span nz-icon nzType="plus" nzTheme="outline" class="me-2"></span>
      New annotation
    </button>
  </div>

  <!-- content -->
  <div
    class="md:ps-8 md:pe-8 ps-4 pe-4 pt-4 pb-4 grid grid-cols-1 md:grid-cols-12 gap-6"
  >
    <!-- left section -->
    <div class="col-span-12 md:col-span-3 gap-4 flex flex-col">
      <!-- filter text -->
      <span class="font-semibold">Filter annotations</span>

      <!-- filter date -->
      <div class="gap-1 flex flex-col">
        <span class="text-sm tib-text-gray">Date</span>
        <nz-date-picker
          nzSize="large"
          [(ngModel)]="filter_date"
          (ngModelChange)="onChangeFilterDate($event)"
        ></nz-date-picker>
      </div>

      <!-- filter status -->
      <div class="gap-1 flex flex-col">
        <span class="text-sm tib-text-gray">Status</span>
        <nz-select ngModel="all" nzSize="large">
          <nz-option nzLabel="All" nzValue="all"></nz-option>
          <nz-option nzLabel="Success" nzValue="success"></nz-option>
          <nz-option nzLabel="Falied" nzValue="failed"></nz-option>
        </nz-select>
      </div>

      <!-- filter id annotation -->
      <div class="gap-1 flex flex-col">
        <span class="text-sm tib-text-gray">ID annotation</span>
        <nz-input-group nzSize="large" [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="ID annotation" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
      </div>
    </div>

    <!-- right section -->
    <div class="col-span-12 md:col-span-9">
      <!-- empty list -->
      <div
        *ngIf="annotation_list.length == 0"
        class="w-full h-full flex items-center justify-center"
      >
        <nz-empty [nzNotFoundContent]="contentTpl">
          <ng-template #contentTpl>
            <div class="flex flex-col gap-1">
              <span class="text-lg font-semibold"> No annotation found </span>

              <span class="text-neutral-600"
                >Please create annotation to view more updates</span
              >
            </div>
          </ng-template>
        </nz-empty>
      </div>

      <!-- display list -->
      <div *ngIf="annotation_list.length > 0" class="grid grid-cols-12 gap-4">
        <div
          *ngFor="let annotation of annotation_list"
          class="md:col-span-4 sm:col-span-4 col-span-6"
        >
          <app-annotation-card [annotation]="annotation"></app-annotation-card>
        </div>
      </div>
    </div>
  </div>
</div>
